*.config     linguist-documentation
*.Config     linguist-documentation
*.sln           linguist-documentation
*.fsproj        linguist-documentation
*.csproj        linguist-documentation
*.shproj        linguist-documentation
*.projitems     linguist-documentation
*.targets       linguist-documentation
